@using NonogramWeb.Models
@model NonogramModel

@{
    ViewData["Title"] = "Nonogram";
}
<h1>Choose Difficulty from following:</h1>
<br />
<h2>@Html.ActionLink("Easy", "Image", "Nonogram", new { difficulty = nonogram.Core.Difficulty.Easy })</h2>
<h2>@Html.ActionLink("Medium", "Image", "Nonogram", new { difficulty = nonogram.Core.Difficulty.Medium })</h2>
<h2>@Html.ActionLink("Hard", "Image", "Nonogram", new { difficulty = nonogram.Core.Difficulty.Hard })</h2>
